body, html {
    background-size: cover;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
  
}

button{
    text-align:center;
    color:black;
}

#quote {
    font-size: 35px;
    line-height: 35px;
    font-family: 'Comfortaa', cursive;
    color:white;
}

#quoteName {
    font-size: 30px;
    line-height: 20px;
    font-family: 'Comfortaa', cursive;
    color:white;
}

.clock {
    text-align:center;
    font-size: 45px;
    line-height: 100%;
    font-family: 'Comfortaa', cursive;
    color:white;

}

.clockA {
    text-align:center;
    font-size: 45px;
    line-height: 0%;
    font-family: 'Comfortaa', cursive;
}




.timer {
    font-size: 65px;
    line-height: 100%;
    font-family: 'Comfortaa', cursive;
    color:white;

}
  
body {
    margin: 0;
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    background-color: var(--clr-primary);
    color: white;
    display: grid;
    
  }
  
ol {
    list-style: none;
    padding-left: 0;  
}

  
.close:hover {
    background-color: #008000;
    color: white;
}

.reset {
    line-height: 0%;
}
