button{

    text-align:center;
    color:black;

}

#quote {
        -webkit-text-stroke-width: 1.1px;
    -webkit-text-stroke-color: #424242;
    -webkit-text-fill-color: #ffffff;

    font-size: 35px;
    line-height: 35px;
    font-family: 'Comfortaa', cursive;
    color:white;
}

#quoteName {
        -webkit-text-stroke-width: 1.1px;
    -webkit-text-stroke-color: #424242;
    -webkit-text-fill-color: #ffffff;

    font-size: 30px;
    line-height: 20px;
    font-family: 'Comfortaa', cursive;
    color:white;
}

.clock {
            -webkit-text-stroke-width: 1.1px;
    -webkit-text-stroke-color: #424242;
    -webkit-text-fill-color: #ffffff;
    text-align:center;

    font-size: 45px;
    line-height: 0px;
    font-family: 'Comfortaa', cursive;
}

.clockA {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #424242;

    text-align:center;

    font-size: 45px;
    line-height: 0px;
    font-family: 'Comfortaa', cursive;
}




.timer {
    font-size: 65px;
    line-height: 0px;
    font-family: 'Comfortaa', cursive;
    color:white;

}
  
body {
    margin: 0;
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    background-color: var(--clr-primary);
    color: var(--clr-light);
    display: grid;
    
  }
  
ol {
    list-style: none;
    padding-left: 0;   
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #424242;
    -webkit-text-fill-color: #ffffff;
 
}

  
.close:hover {
    background-color: #008000;
    color: white;
}

label {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #424242;
    -webkit-text-fill-color: #ffffff;
}
